:root{
    --safferBlue: rgb(0,165,228);
    --backgroundColor: rgb(32, 28, 28);
}

body {
    background-color:var(--backgroundColor);
}

p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: left;
    color: white;
}

h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: left;
    color: white;
    text-align: left;
    text-decoration: underline;
    
}
h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: left;
    font-family: sans; color: white;

    
}
h3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: left;
    color: white;
}
.center {
    display: inline-block; 

}
.center div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}