:root{
    --safferBlue: rgb(0,165,228);
    --backgroundColor: rgb(32, 28, 28);
}

body {
    background-color:var(--safferBlue);
}

h1{
    right: 100vw/2;
    height: 0;
    top: 0;
    z-index: 1;
    padding: 1%;
    margin-top: 0pt;
    text-align: center;
}

.back button{
    background-color: var(--backgroundColor); /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}
.back button:hover {
    background-color: white; /* Green */
    color: var(--backgroundColor);
    border: 2pt solid var(--safferBlue);
}

.imageContainer {

}

.imageContainer img {
    width: 60vw;
    height: auto;
    align-items: center ;
    padding-bottom: 1%;
}

.center {
    text-align: center;
}
