:root{
    --safferBlue: rgb(0,165,228);
    --backgroundColor: rgb(32, 28, 28);
}

body {
    background-color:var(--backgroundColor);
    font-size: 4vh;
    color: var(--safferBlue);
}



.center {
    margin: auto;
    width: 100%;
    text-align: center;

}

.centeredList{
    display: inline-block;
    text-align: left;
}

button {
    border: none;
    transition-duration: 0.5s;

}
img:hover {
    background-color: white; 
    color: var(--safferBlue);
    border: 2pt solid var(--safferBlue);
}
a{
    color: var(--safferBlue);
}


