*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    padding-bottom: 50pt;
} */

.container{
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.swiper {
    width: 100%;
    height: 80%;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: contain;
}

:root{
    --safferBlue: rgb(0,165,228);
    --backgroundColor: rgb(32, 28, 28);
}

body {
    background-color:var(--safferBlue);
}

.back{
    position: sticky;
    display: inline-block;
    /*float: right;*/
    right: 0;
    height: 0;
    top: 0;
    z-index: 1;
    padding: 1%;
    left: 0;
    width: 100%;
    text-align: right;
    
}
.back button{
    background-color: var(--backgroundColor); /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}
.back button:hover {
    background-color: white; /* Green */
    color: var(--backgroundColor);
    border: 2pt solid var(--safferBlue);
}

.row > div {
    margin-top:20px;
 }

 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 h1{
    right: 100vw/2;
    height: 0;
    top: 0;
    z-index: 1;
    padding: 1%;
    margin-top: 0pt;
    text-align: center;
 }

/* Set the size of the div element that contains the map */
.map{
    position: relative;
    padding-bottom: 70%; 
    height: 30%;
    overflow: hidden;
}

.map iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}


.float-container {
    padding: 20px;
}

.float-child {
    width: 60%;
    float: left;
    text-align: center;

} 
.float-child2 {
    width: 40%;
    float: left;
    text-align: center;
    
}  

ul{
    display: table;
    margin: 0 auto;
    margin: 0;

}

.imageContainer {

}

.imageContainer img {
    width: 60vw;
    height: auto;
    align-items: center ;
    padding-bottom: 1%;
}

h2{
    right: 100vw/2;
    text-align: center;
    font-size: large;
 }

.center {
    text-align: center;
}